{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4">
        <div class="card border border-secondary rounded shadow-lg p-5 my-3 bg-light">
            <p class="card-header fw-boldest">
            <strong>{{brand.name}}</strong> - <em>{{brand.slogan}}</em>
            </p>
            <div class="card-body">
            <img src="{{brand.logo}}"  style="height: 100%; width: 100%;" alt="">
            </div>
            <div class="card-footer">
            <p>{{brand.description}}</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}