{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4">
        <div class="card border border-secondary rounded shadow-lg p-5 my-3 bg-light">
            <p class="card-header fw-boldest">
            <strong>{{product.name}}</strong> - <em>{{product.brand.name}}</em>
            </p>
            <div class="card-body">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in product.images %} 
                    <div class="carousel-item active">
                    <img class="d-block w-100" src="{{image}}" alt="First slide">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">➔</span>
            </a>
            </div>

            </div>
            <div class="card-footer">
            <p>{{product.description | raw}}</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}